<!-- Footer -->
<footer>
  <div class="footer-container">
    <ul>
      <li>
        <a href="">Términos y condiciones</a>
      </li>
      <li>
        <a href="">Declaración de privacidad</a>
      </li>
      <li>
        <a href="">Preguntas frecuentes</a>
      </li>
      <li>
        <a href="">Envíos, devoluciones y garantía</a>
      </li>
    </ul>
  </div>
  <h3>Copyright © 2020 Alma-Mate. Todos los derechos reservados.</h3>
 </footer>