<!DOCTYPE html>
<html lang="es">
  <!-- Acá va el include('partials/head') -->
  <%- include('partials/head') %>
<body>
  <div class="container__register">
  <header>
    <a href="../">
    <img class="img__register" src="../images/almamate.png" alt="Logo de Alma-Mate">
  </a>
  </header>
  <section class="signup__register">
    <section class="signup__register--container">
      <h2>Ingresá</h2>
      <form class="signup__register--form" action="">
        <input class="" type="email" placeholder="E-mail">
        <input class="" type="password" placeholder="Contraseña">
        <button class="button--register">Registrar</button>
      </form>
    </section>
    <a class="login__register" href="./register">No tenés una cuenta? Creala acá</a>
  </section>
  <!-- Acá va el include('partials/footer') -->
  <%- include('partials/footer') %>
</div>
</body>
</html>