<!DOCTYPE html>
<html lang="es">
  <!-- Acá va el include('partials/head') -->
  <%- include('partials/head') %>
<body>
  <div class="container__register">
  <header>
    <a href="./">
    <img class="img__register" src="./images/almamate.png" alt="Logo de Alma-Mate">
  </a>
  </header>
  <section class="signup__register">
    <section class="signup__register--container">
      <h2>Nuestra historia</h2>
      <h3>
        Alma-Mate nació en tiempos del COVID-19, para incentivar a todas las personas a tener su propio mate. Nuestra misión es llegar a la mayor cantidad de personas posible y satisfacer los gustos y necesidades de cada cliente, por ello construimos un sitio agradable y completo donde se vive una experiencia única.
      </h3>
      <h2>Fundadores</h2>
      <div class="founder-description">
        <div class="founder-description-1">
          <img src="images/founderj.jpeg" alt="">
        </div>
        <div class="founder-description-1">
          Joan Segovia es el autor intelectual de Alma-Mate. Nacido en Plaza Huincul, Neuquén (Argentina), tras mudarse a Buenos Aires se introdujo de lleno a la programación. Actualmente estudia en Digital House y trabaja en este gran proyecto como desarrollador front-end.
          </div>
        </div>
        <div class="founder-description">
          <div class="founder-description-1">
            Nicolás D’Orazio, nacido en Buenos Aires (Argentina), actualmente estudia en Digital House y también Diseño Industrial en la Universidad de Buenos Aires. Junto a su colega realizo Alma-Mate desempeñando el rol principal de desarrollador back-end.
        </div>
        <div class="founder-description-1">
          <img src="images/foundern.jpeg" alt="">
        </div>
      </div>
      <h2 class="founders-repos">Nuestras cuentas de GitHub</h2>
      <a href="https://github.com/calmohtml/">@calmohtml</a>
      <a href="https://github.com/nico-99">@nico-99</a>
    </section>
  </section>
  <!-- Acá va el include('partials/footer') -->
  <%- include('partials/footer') %>
</div>
</body>
</html>