<!DOCTYPE html>
<html lang="es">
  <!-- Acá va el include('partials/head') -->
  <%- include('partials/head') %>
<body>
  <div class="container__register">
  <header>
    <a href="./">
    <img class="img__register" src="./images/almamate.png" alt="Logo de Alma-Mate">
  </a>
  </header>
  <section class="signup__register">
    <section class="signup__register--container">
      <h2>Nuestra historia</h2>
      <h3>
        Alma-Mate nació en tiempos del COVID-19, para incentivar a todas las personas a tener su propio mate. Nuestra misión es llegar a la mayor cantidad de personas posible y satisfacer los gustos y necesidades de cada cliente, por ello construimos un sitio agradable y completo donde se vive una experiencia única.
      </h3>
      <h2>Fundadores</h2>
      <div class="founder-description">
        <div class="founder-description-1">
          <img src="images/nosotros.jpg" alt="">
        </div>
        <div class="founder-description-1">
          Joan Segovia es el autor intelectual de Alma-Mate. Nacido en Plaza Huincul, Neuquén (Argentina), tras mudarse a Buenos Aires se introdujo de lleno a la programación. Actualmente estudia en Digital House y trabaja en este gran proyecto matero.
          </div>
        </div>
        <div class="founder-description">
          <div class="founder-description-1">
          Nicolás Dorazio, nacido en Buenos Aires (Argentina), conoció a Joan, y comenzaron a crear este gran sitio. Actualmente, estudia en Digital House, también estudia Diseño Industrial en la Universidad de Buenos Aires
        </div>
        <div class="founder-description-1">
          <img src="images/nosotros.jpg" alt="">
        </div>
      </div>
      <h2>Nuestra misión</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit saepe illo quod commodi, modi ipsam? Dolores aspernatur beatae neque, adipisci dolor pariatur aliquid quasi nostrum eaque quibusdam repudiandae, totam officiis officia, recusandae excepturi unde vitae quod. Omnis est sunt eius consequatur! Sapiente, incidunt optio vel minima id sed at consequuntur alias in, cum adipisci minus! Non in quisquam omnis illum ad eveniet nostrum assumenda esse perspiciatis! Sunt fugiat ut inventore quibusdam beatae rerum eius repellat, nisi, animi temporibus quo reiciendis?</p>
    </section>
  </section>
  <!-- Acá va el include('partials/footer') -->
  <%- include('partials/footer') %>
</div>
</body>
</html>