<!DOCTYPE html>
<html lang="es">
<!-- Acá va el include('partials/head') -->
<%- include('partials/head') %>
<body>
    <div class="container__register">
        <header>
            <a href="../">
                <img class="img__register" src="../images/almamate.png" alt="Logo de Alma-Mate">
            </a>
        </header>
        <div>
            <h2>Bienvenido, usuario</h2>
            <h3>Tus compras:</h3>
            <p>Mate negro Stanley</p>
        </div>
        <!-- Acá va el include('partials/footer') -->
        <%- include('partials/footer') %>
    </div>
</body>
</html>