<!DOCTYPE html>
<html lang="es">
  <!-- Acá va el include('partials/head') -->
  <%- include('partials/head') %>
<body>
  <div class="container__register">
  <header>
    <a href="../">
    <img class="img__register" src="../images/almamate.png" alt="Logo de Alma-Mate">
  </a>
  </header>
  <section class="signup__register">
    <section class="signup__register--container">
      <h2>Consultas</h2>
      <ul class="contactUs">
          <a href="">
            <li>Preguntas y respuestas frecuentes</li>
            <span>Nuestras preguntas más típicas, respondidas</span>
          </a>
          <a href="">
            <li>Chatee con nosotros</li>
            <span>No encontró lo que buscaba? Hablemos!</span>
          </a>
          <a href="">
            <li>Mail</li>
            <span>Para negocios y distribuidores: business@almamate.com</span>
          </a>
      </ul>
    </section>
    <a class="login__register" href="./register">No tenés una cuenta? Creala acá</a>
  </section>
  <!-- Acá va el include('partials/footer') -->
  <%- include('partials/footer') %>
</div>
</body>
</html>