<!DOCTYPE html>
<html lang="es">
    <!-- Ac치 va el include('partials/head') -->
    <%- include('partials/head') %>
<body>
    <!-- Ac치 va el include('partials/headerNavbar') -->
    <%- include('partials/headerNavbar') %>
    <!-- cabecera -->
    <div class="container-productCart">
        <div class="main-header-productCart">
            <h2 class="title-productCart">Carrito de compras</h2>
        </div>
        <section class="emptyCart-wrapper">
                <div class="emptyCart">
                    <h1>
                        Tu carrito est치 vacio! :(
                    </h1>
                    <h2>
                        <a href="/products/kit">Agregar productos :D</a>
                    </h2>
                </div>
        </section>
    </div>
    <!-- Ac치 va el include('partials/footer') -->
    <%- include('partials/footer') %>
    <script src='../../js/productCart.js'></script>
</body>
</html>