<!DOCTYPE html>
<html lang="es">
  <!-- Acá va el include('partials/head') -->
  <%- include('partials/head') %>
<body>
  <div class="container__register">
  <header>
    <a href="../">
    <img class="img__register" src="../images/almamate.png" alt="Logo de Alma-Mate">
  </a>
  </header>
  <section class="signup__register">
    <section class="signup__register--container">
      <h2>Registrate</h2>
      <form class="signup__register--form" action="/users/register" method="POST" enctype="multipart/form-data">
        <% if (typeof errors != "undefined") { %>
          <% errors.forEach(error => { %>
           <p><%= error.msg %></p>
            <% }) %>
          <% } %>
        <input id="name" name="name" type="text" placeholder="Nombre">
        <input id="email" name="email" type="email" placeholder="E-mail">
        <input id="password" name="password" type="password" placeholder="Contraseña">
        <input id="repeatpassword" name="repeatpassword" type="password" placeholder="Confirmar contraseña">
        <input name="avatar" type="file" class="custom-file-input" id="customFile">
        <button type="submit" class="button--register">Registrar</button>
      </form>
    </section>
    <a class="login__register" href="./login">Ya tenés una cuenta? Iniciá sesión</a>
  </section>
  <!-- Acá va el include('partials/footer') -->
  <%- include('partials/footer') %>
</div>
</body>
</html>