<!DOCTYPE html>
<html lang="es">
<!-- Ac치 va el include('partials/head') -->
<%- include('partials/head') %>
<body>
    <div class="container__register">
        <header>
            <a href="../">
                <img class="img__register" src="../images/almamate.png" alt="Logo de Alma-Mate">
            </a>
        </header>
        <section class="signup__register">
            <section class="signup__register--container">
                <h2>Cont치ctanos</h2>
                <form class="email--form" action="">
                    <p>
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="name">
                    </p>
                    <p>
                        <label for="lastname">Apellido</label>
                        <input type="text" name="lastname" id="lastname">
                    </p>
                    <p>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="fullname">
                    </p>
                    <p>
                        <label for="affair">Asunto</label>
                        <input type="text" name="affair" id="affair">
                    </p>
                    <p class="block">
                        <label for="message">Mensaje</label>
                        <textarea name="message" rows="4"></textarea>
                    </p>
                    <p class="block">
                        <button class="signup__register--button" type="submit">
                            Enviar
                        </button>
                    </p>
                </form>
            <section class="contact-info">
                <h4>M치s info</h4>
                <ul>
                    <li>
                        <i class="fas fa-search-location"></i>
                        742 Evergreen Terrace, Springfield
                    </li>
                    <li>
                        <i class="fas fa-phone-square-alt"></i>
                        +54 9 11 4514-6761
                    </li>
                    <li>
                        <i class="fas fa-envelope-open-text"></i>
                        contact@almamate.com
                    </li>
                </ul>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic adipisci provident odit, natus velit aliquid ducimus debitis iste recusandae magni!</p>
            </section>
            </section>
        </section>
        <!-- Ac치 va el include('partials/footer') -->
        <%- include('partials/footer') %>
    </div>
</body>
</html>