<!-- Nav-bar -->
<div class="container">
<nav class="nav-main">
  <div class="nav-main__wrapper">
    <a href="../../">
    <img class="nav-brand" src="../../images/almamate.png" alt="Logo de Alma-Mate">
  </a>
  </div>
  <ul class="nav-menu">
    <li>
      <a href="/products/kit">Armá tu kit</a>
    </li>
    <li>
      <a href="/aboutUs">Sobre nosotros</a>
    </li>
    <li>
      <a href="/contact">Contacto</a>
    </li>
    <li>
      <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
    </li>
    <!-- probando la seccion de cuenta -->
    <li>
      <a href="/users/login"><i class="far fa-user"></i></a>
    </li>
    <!-- aca termina la seccion de cuenta -->
  </ul>
</nav>
</div>