<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alma-Mate</title>
  <!-- CSS -->
  <link rel="stylesheet" href="../../css/styles.css">
  <!-- Favicon -->
  <link rel="shortcut icon" href="./images/almamate.png" type="image/x-icon">  
  <!-- Fonts: Merriweather - Open Sans -->
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"> 
</head>